// variables
$white-color: #fff;
$primary-color: #1ebb76; 
$secondary-color: #0a9de2;
$bg-light: #effaff;
$dark-color: #0e3e64;
$text-color: #74868f;





// breakpoints
$too-small-mobile: 322px;
$small-mobile: 376px;
$mobile: 576px;
$small-tab: 768px;
$big-tab: 992px;
$small-desktop: 1024px;
$desktop: 1200px;
$mid-desktop: 1450px;
$large-desktop: 1700px;

